// Navigation Styles here

header {
    border-bottom: 2px dashed @silver;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 2% 2% 0 2%;

    @media @mobile {
        flex-direction: column;
        
    }
    
    h1 {
        .margin-lefts(10%);
        
        @media @mobile {
            .margin-lefts(32%);
        }
    }
    nav {
       display: flex;
       margin-right: 9%;
       

       @media @mobile {
           align-items: center;
           .margin-lefts(15%);
           
       }
            
    
        a {
            text-decoration: none;
            padding: 7%;
            font-size: 1.5rem;
            color: @shark;
            
        } 
    }
}